body {
    background-color: rgb(211, 209, 197);
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Inter';
}
p {
    color: darkgreen;
}

a:link {
    text-decoration: none;
    color: aquamarine;
}
a:visited {
    text-decoration: none;
    color: rgb(244, 10, 10);
}
a:hover {
    text-decoration: none;
    color: rgb(233, 30, 216);
    font-weight: bold;
}

.formatheader{
    font-size: larger;
}